  .login-page__loginForm {
    width: 50%;
  }
  
  .login-page__loginForm-item {
    background-color: ivory;
    width: 450px;
    height: 507px;
    font-size: 1.6em;
    padding: 50px;
    text-align: left;
    position: relative;
    border-radius: 1%;
  }

  .header-form {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .header-form__add {
    margin-bottom: 20px;
  }

  .header-form__add span {
    cursor: pointer;
    color: royalblue;
    margin-left: 5px;
  }
  
  .error {
    position: absolute;
    color: red;
    top: 420px;
    left: 50px;
    overflow: hidden;
    max-width: 450px;
    max-height: 65px;
    display: inline-block;
  }