.login-page {
	flex-grow: 1;
	background-image: url("../shared/img/login-background.jpg");
	background-size: cover;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}