* {
	outline: none;
}

a {
	text-decoration: none;
	color: black;
}

html {
	font-size: 10px;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

.button {
	margin-top: 60px !important;
	width: 248px;
	height: 51px !important;
	border-radius: 4px !important;
	background-color: #ffc617;
	position: absolute !important;
	right: 0 !important;
	margin-right: 50px !important;
	outline: none;
	border: 0;
	font-weight: bold;
	cursor: pointer;
	transition: all ease 0.5s;
	border: 1px solid transparent;
	font-size: 2rem !important;
	box-shadow: none;
}

.button:hover {
	background-color: #eeb506;
	outline: none;
}

.button:focus {
	outline: none !important;
	box-shadow: none !important;
}
